{{var1}}
{{var2}}

{% set v = 'test' %}
{% set tab={"fname":"foulen","lname":"benFoulen"} %}
{{tab['fname']}}
{% for element in tab %}
{{element}}
{% endfor %}
{{v}}

<table border="1">
<tr>
<th>ID</th>
<th>Email</th>
</tr>
{% for p in persons %}
<tr>
<td>{{p.id}}</td>
<td>{{p.email|upper|trim('.')}}</td>
</tr>
{% endfor %}
</table>

{% if persons is empty %}
Pas d'element
{% else %}
{{persons|length}}
{% endif %}

{% if 5 not in [1, 2, 3] %}
5 non présent
{% endif %}
{% apply upper %}
Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée.
{% endapply %}

{{dump(persons)}}

<a href="{{path('app_teacher_show2',{'name':var1,'lastName':tab['fname']})}}">Go to teacher </a>