{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
{{form_start(form)}}
<div class="mb-3">
{{form_label(form.nsc,'Nsc : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.nsc,{'attr':{'class':'form-control'}})}}
</div>
<div class="mb-3">
{{form_label(form.userName,'User Name : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.userName,{'attr':{'class':'form-control'}})}}
</div>
<div class="mb-3">
{{form_label(form.email,'Email : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.email,{'attr':{'class':'form-control'}})}}
</div>
<div class="mb-3">
{{form_label(form.classroom,'Classroom : ',{'attr':{'class':'form-label'}})}}
{{form_widget(form.classroom,{'attr':{'class':'form-select'}})}}
</div>
<div class="mb-3">
{{form_widget(form.save,{'attr':{'class':'btn btn-primary'}})}}
</div>
{{form_end(form)}}
</div>
</div>
</div>
{% endblock %}